@use "../globals" as *;

.hero {
	background-image: url("../images/landing_background_picture.jpg"),
		linear-gradient(
			to top,
			rgba(0, 0, 0, 0.8) 0,
			rgba(0, 0, 0, 0) 60%,
			rgba(0, 0, 0, 0.8) 100%
		);
	background-size: cover;
	background-position: center center;
	height: 44rem;
	background-color: rgb(0 0 0 / 40%);
	background-blend-mode: color;

	&_container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
	}

	h2 {
		text-align: center;
	}

	.spacing {
		@include spacingStyle();
	}
}

@media (max-width: 730px) {
	.hero {
		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1rem;
		}

		p {
			font-size: 1.25rem;
		}
	}
}
@media (max-width: 590px) {
	.hero {
		h2 {
			font-size: 1.7rem;
		}

		h3 {
			font-size: 0.85rem;
		}

		p {
			font-size: 1rem;
		}
	}
}
