@use "../globals" as *;

.browse_header {
	position: fixed;
	width: 100%;
	height: 4.375rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
	z-index: 2;
	transition: all 0.8s;
	transition-delay: 1s;

	&_container_long {
		display: flex;
		background-color: transparent;
		padding: 0 3.75rem;
		height: 100%;

		.bar {
			display: flex;
			align-items: center;
			width: 80%;

			img {
				height: 1.6rem;
			}
			ul {
				display: flex;
				list-style-type: none;
				gap: 1.5rem;
				font-size: 0.875rem;
				font-weight: 500;
				
				.active {
					font-weight: bold;
				}

				li {
					cursor: pointer;
					color: $greyColorHomePage;
				}
			}
		}

		.user_panel {
			width: 20%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 1.5rem;

			.avatar {
				height: 1.5rem;
			}

			img {
				cursor: pointer;
			}
		}
	}
}

.black_background {
	background-color: $backgroundColorHome;
	transition-timing-function: ease-in;
	transition: all 0.8s;
}
