@use "../globals" as *;

.browse_header {
	position: fixed;
	width: 100%;
	height: 4.375rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
	z-index: 2;
	transition: all 0.8s;
	transition-delay: 1s;

	&_container_long {
		display: flex;
		background-color: transparent;
		padding: 0 3.75rem;
		height: 100%;

		.bar {
			display: flex;
			align-items: center;
			width: 80%;

			img {
				height: 1.6rem;
			}
			ul {
				display: flex;
				list-style-type: none;
				gap: 1.5rem;
				font-size: 0.875rem;
				font-weight: 500;

				.active {
					color: $whiteColor;
					li {
						font-weight: 700;
						cursor: default;
						&:hover {
							opacity: 1;
						}
					}
				}

				li {
					cursor: pointer;
					color: $greyColorHomePage;
					transition: all 0.3s ease-out;

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}

		.user_panel {
			width: 20%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 1.5rem;

			img {
				cursor: pointer;
			}

			.profile {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 0.2rem;
				cursor: pointer;

				&:hover {
					.caret {
						transform: rotate(180deg);
					}
				}

				.avatar {
					display: flex;

					img {
						height: 2rem;
						border-radius: 0.3rem;
					}
				}

				.caret {
					display: flex;
					transition: transform 0.35s ease-out;

					img {
						height: 1.1rem;
						width: 1.5em;
					}
				}
			}
		}
	}
}

.black_background {
	background-color: $backgroundColorHome;
	transition: ease-in;
}
