@use "./colors" as *;
@use "./typography" as *;

* {
	box-sizing: border-box;
	font-size: 100%;
	font-family: $font;
}

body {
	margin: 0;
	padding: 0;
	background-color: $blackColor;
	color: $whiteColor;
	scroll-behavior: smooth;
	&:hover {
		cursor: default;
	}
}

.container {
	max-width: 92rem;
	margin: 0 auto;
	height: 100%;
}

.container_long {
	max-width: 160rem;
	margin: 0 auto;
	height: 100%;
}

.home {
	background-color: $backgroundColorHome;
}
