@use "../globals" as *;

.faq {
	&_container {
		@include sectionStyle();
		flex-direction: column;

		.full_list {
			display: flex;
			flex-direction: column;
			width: 100%;

			li {
				list-style-type: none;
			}

			ul {
				margin: 0 auto;
				padding: 2rem 0;
				width: 100%;
			}

			.question,
			.answer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: $backgroundFaqGreyColor;
				color: $whiteColor;
				border: none;
				padding: 1.5rem;
				margin-bottom: 0.1rem;
				width: 100%;

				h3,
				span {
					font-size: 1.5rem;
				}
			}

			.question {
				cursor: pointer;
				transition: 0.3s;
				margin-top: 1rem;
				&:hover {
					background-color: $backgroundFaqGreyColor_Hover;
					transition-timing-function: ease-in-out;
				}
			}

			// .answer {
				// transition: all 0.25s;
				// transition-timing-function: ease-in-out;
			// }
		}
	}

	.spacing {
		@include spacingStyle();
	}
}
