@import "../Variables/Variables.scss";

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	background-color: $blackColor;
	color: $whiteColor;
	font-family: $font;

	a {
		text-decoration: none;
	}

	.container {
		max-width: 95rem;
		margin: 0 auto;
		height: 100%;
	}
}
