@import "../Variables/Variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	background-color: $blackColor;
	color: $whiteColor;
	font-family: $font;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
