@import "../Variables/Variables.scss";

.appleTv {
	&_container {
		@include sectionStyle();
		.screen {
			align-items: flex-start;

			.wrapper {
				display: flex;
				justify-content: center;
				position: relative;

				video {
					position: absolute;
					bottom: 42%;
					width: 26rem;
				}
				img {
					z-index: 1;
				}
			}
		}
	}

	.spacing {
		@include spacingStyle();
	}
}
