@import "../Variables/Variables.scss";

.header-container {
	display: flex;
	justify-content: space-between;
	height: 5.375rem;
	margin: 0 2rem;
	align-items: center;

	img {
		height: 2.5rem;
		width: 9.25rem;
	}

	button {
		@include buttonStyle(14px, 4px 16px, 2rem);
	}
}
