@use "../globals" as *;

.row {
	background-color: $backgroundColorHome;
	padding-left: 3.75rem;
	padding-top: 1.5rem;

	/* Hide scrollbar for Chrome, Safari and Opera */
	::-webkit-scrollbar {
		display: none;
	}
	.slider {
		position: relative;

		&:hover {
			.slider_wrapper_left,
			.slider_wrapper_right {
				opacity: 1;
			}
		}
		.posters {
			display: flex;
			overflow-y: hidden;
			overflow-x: scroll;
			align-items: center;

			.standard_size_picture {
				max-height: 10rem;
				margin-right: 1rem;
				border-radius: 0.2rem;
				cursor: pointer;
				transition: transform 450ms;
				&:hover {
					transform: scale(1.08);
				}
			}

			.poster_large {
				max-height: 15rem;
			}
		}

		.title {
			font-size: 1.5rem;
			color: $greyColorHomePage;
		}

		&_wrapper_left,
		&_wrapper_right {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 2.5rem;
			background-color: $transparentBlackColor3;
			cursor: pointer;
			opacity: 0;

			img {
				height: 2rem;
				width: 1.5rem;
				transition: transform 0.15s ease-in-out;
			}

			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}

		&_wrapper_left {
			left: 0;
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}

		&_wrapper_right {
			right: 0;
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}
	}
}

.row_search {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

@media (max-width: 1100px) {
	.row {
		.title {
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 820px) {
	.row {
		padding-left: 1rem;
		.title {
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 650px) {
	.row {
		.title {
			font-size: 1rem;
		}
		.posters {
			img {
				max-height: 8rem;
			}

			.poster_large {
				max-height: 12rem;
			}
		}
	}
}
