@use "../globals" as *;

.signIn_main {
	background-image: url("../images/landing_background_picture.jpg");
	background-size: cover;
	background-position: center center;
	height: 100vh;
	background-color: rgb(0 0 0 / 40%);
	background-blend-mode: color;

	&_container {
		height: 100vh;
		display: flex;
		align-items: center;
		padding-bottom: 10rem;

		.netflix_logo {
			width: 10.5rem;
			height: 2.9rem;
			position: absolute;
			top: 2.5%;
			left: 3%;
			cursor: pointer;
		}
	}

	.wrapper {
		margin: 0 auto;
		width: 28.125rem;
		background-color: $transparentBlackColor;
		display: flex;
		flex-direction: column;
		padding: 3.75rem 4.25rem;
		border-radius: 0.25rem;

		button {
			@include buttonStyle();
			margin-top: 2rem;
			margin-bottom: 2rem;
			font-size: 1rem;
			padding: 1rem;
			line-height: 1rem;
			width: 100%;
		}

		h1 {
			margin-bottom: 1.75rem;
		}

		input {
			background-color: $inputBackgroundColor2;
			border: none;
			border-radius: 0.25rem;
			padding: 1rem 1.25rem;
			height: 3.125rem;
			margin: 0.5rem 0;
			color: $whiteColor;
			line-height: 3.125rem;
			outline: none;

			&::placeholder {
				color: $inputPlaceholderColor;
			}
		}

		p {
			color: $greyColorSignIn;
			span {
				color: $whiteColor;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 760px) {
	.signIn_main {
		background-image: none;

		.wrapper {
			width: 100%;
			padding: 2rem;
		}
	}
}
@media (max-width: 440px) {
	.signIn_main {
		&_container {
			.netflix_logo {
				width: 5rem;
				height: auto;
				position: absolute;
				top: 2.5%;
				left: 3%;
				cursor: pointer;
			}
		}

		.wrapper {
			padding: 1rem;
		}
	}
}
