@use "../globals" as *;

.banner {
	background-image: linear-gradient(
		180deg,
		transparent 90%,
		rgba(0, 0, 0, 0.6),
		$greyColorHomePage3
	);
	background-size: cover;
	background-position: center center;
	height: 40rem;

	&_fade_bottom {
		height: 40rem;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(
			180deg,
			transparent 90%,
			rgba(0, 0, 0, 0.6),
			$backgroundColorHome
		);
	}

	&_container_long {
		padding: 0 3.75rem;
		height: 100%;
		position: relative;

		.content {
			position: absolute;
			bottom: 0;
			z-index: 1;

			button:hover {
				opacity: 0.8;
			}

			.description {
				width: 50%;
				padding-right: 1rem;
			}
			.buttons {
				display: flex;

				.play_button,
				.more_info_button {
					border-radius: 0.25rem;
					font-size: 1.5rem;
					border: none;
					font-weight: 500;
					outline: none;
					cursor: pointer;
					line-height: 2.4rem;
					height: 3rem;
					padding: 0.5rem 1rem;
				}

				.play_button {
					background-color: $whiteColor;
					color: $blackColor;
					display: inline-flex;
					align-items: center;
					gap: 0.5rem;
					justify-content: center;
					margin: 0;

					img {
						transform: rotate(90deg);
					}
				}

				.more_info_button {
					margin-left: 1rem;
					background-color: $greyColorHomePage2;
					color: $whiteColor;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.5rem;
				}
			}

			p {
				line-height: 1.5;
			}

			.title {
				font-size: 3rem;
				font-weight: 800;
				background-color: rgb(0, 0, 0, 0.6);
				width: fit-content;
				padding-right: 1rem;
				padding-left: 1rem;
			}
		}
	}
}

@media (max-width: 1100px) {
	.banner {
		&_container_long {
			.content {
				.buttons {
					img {
						height: 1.8rem;
					}
					.play_button,
					.more_info_button {
						font-size: 1.3rem;
						height: 2.5rem;
					}
				}

				h1 {
					margin: 1rem 0;
				}

				.title {
					font-size: 2.5rem;
				}
			}
		}
	}
}

@media (max-width: 820px) {
	.banner {
		&_container_long {
			padding: 0 1rem;
			.content {
				.buttons {
					img {
						height: 1.8rem;
					}
					.play_button,
					.more_info_button {
						font-size: 1.3rem;
						height: 2.5rem;
					}
				}

				.description {
					width: 100%;
				}

				h1 {
					margin: 1rem 0;
				}

				.title {
					font-size: 2.5rem;
				}
			}
		}
	}
}
@media (max-width: 650px) {
	.banner {
		.content {
			.buttons {
				img {
					height: 1.2rem;
				}
				.play_button,
				.more_info_button {
					height: 2rem;
					font-size: 1rem;
				}
			}
			.title {
				font-size: 2.2rem;
			}
		}
	}
}
@media (max-width: 550px) {
	.banner {
		height: 30rem;
		.content {
			.buttons {
				img {
					height: 1rem;
				}
				.play_button,
				.more_info_button {
					height: 1.5rem;
					font-size: 0.7rem;
				}
			}
			.description {
				font-size: 0.7rem;
			}

			h1 {
				margin: 0.5rem 0;
			}

			.title {
				font-size: 1.8rem;
			}
		}
		&_fade_bottom {
			height: 30rem;
		}
	}
}
