@use "../globals" as *;

.tv {
	&_container {
		@include sectionStyle();
		.screen {
			.wrapper {
				display: flex;
				justify-content: center;
				position: relative;
			}

			video {
				position: absolute;
				bottom: 23%;
			}

			img {
				z-index: 1;
			}
		}
	}
}
.spacing {
	@include spacingStyle();
}

@media (max-width: 1170px) {
	.tv {
		&_container {
			flex-direction: column;

			.text {
				text-align: center;
			}
		}
	}
}
@media (max-width: 700px) {
	.tv {
		&_container {
			padding-top: 2rem;
			padding-bottom: 0;
			.screen {
				transform: scale(0.7);
				transform-origin: top center;
				height: 24rem;
			}

			.text {
				h2 {
					font-size: 2rem;
				}
				p {
					font-size: 1.25rem;
				}
			}
		}
	}
}
@media (max-width: 530px) {
	.tv {
		&_container {
			.screen {
				transform: scale(0.45);
				height: 16rem;
			}

			.text {
				h2 {
					font-size: 1.6rem;
				}
				p {
					font-size: 1rem;
				}
			}
		}
	}
}
