@use "../globals" as *;

.home_row {
    background-color: $backgroundColorHome;
	padding-left: 3.75rem;
    padding-top: 3rem;
	::-webkit-scrollbar {
		display: none;
	}

	.posters {
		display: flex;
		overflow-y: hidden;
		overflow-x: scroll;
		height: 10rem;
        margin-top: 1rem;

		img {
			margin-right: 1rem;
			border-radius: 0.2rem;
            cursor: pointer;
		}
	}

	.title {
		font-size: 1.3rem;
        color: $greyColorHomePage;
        
        h2 {
            margin: 0;
        }
	}
}
