@use "../globals" as *;

.dropdown_menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 80%;
	right: 20%;
	width: 12rem;

	&_wrapper {
		padding: 0.75rem 0;
		background-color: $transparentBlackColor2;
		border: 1px solid $frameBorderColor;
		:hover {
			text-decoration: underline;
		}

		.item {
			display: flex;
			align-items: center;
			padding: 0.325rem 0.65rem;
			height: 2.25rem;

			&_icon {
				padding: 0 1rem 0 0.25rem;
				display: flex;
				align-items: center;
				img {
					height: 1.375rem;
				}
			}

			&_text {
				font-size: 0.85rem;
				p {
					margin: 0;
				}
			}
		}
	}

	.sign_out {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.85rem;
		padding: 0.325rem 0.65rem;
		height: 2.9rem;
		border: 1px solid $frameBorderColor;
		border-top: none;
		background-color: $transparentBlackColor2;
		&:hover {
			text-decoration: underline;
		}

		p {
			margin: 0;
		}
	}
}
